/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
    padding: 10px;
    margin: -10px;
    border: solid 0cap #888;
    background-color: #ffbd52;
    font-family: 'simply rounded';
    font-size: x-large;
    color:rgb(255, 255, 255)
  }
#images {
    padding: 10px;
    margin: -10px;
    border: solid 0px #888;
    background-color: #fed0d0;
    
  }
h1 {
  font-size: 200%;
  text-align: center;

}
.dog{
  max-width: 300px;
 padding-left: 48px;
}
.smokey {
  max-height: 300px;
  padding-left: 800px;
}
.pompom {
display: block;
margin-left: auto;
margin-right: auto;
width: 29%;
;
}
p {
  text-align: center;
}